/*
61838C
9FD3BC
394B61
343645
281D2D
*/
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
* {
    font-family: Lato, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 9vmin;
    line-height: 100%;
    font-weight: 100;
    color: #FFF;
}
html, body {
    width: 100%; min-width: 100%;
    height: 100%; min-height: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
/**************/
.left   { float: left; }
.right  { float: right; }
.clear  { clear: both; }
/**************/
#clock {
    margin: auto;
    position: absolute;
    top: 0px; left: 0px; bottom: 0px; right: 0px;
    height: 70vmin;
    width: 100vmin;
}
#info {
    text-align: right;
}
#time {
    margin-bottom: 2vmin;
}
#hour {
    font-size: 400%;
}
#minute {
    font-size: 400%;
}
#side {
    float: right;
    position: relative;
    top: 5vmin;
}
#second {
    display: block;
    font-size: 100%;
}
#meridian {
    display: block;
    font-size: 100%;
}
.colon {
    position: relative;
    display: inline-block;
    font-size: 150%;
    bottom: 7.5vmin;
}
#date {
    font-size: 85%;
    margin-bottom: 2vmin;
}
#city {
    font-size: 75%;
    position: relative;
    padding-top: 4vmin;
}
#verb {
    font-size: 50%;
    position: relative;
    margin-top: 2vmin;
}
#temp {
    float: right;
    font-size: 250%;
    margin-top: 0vmin;
    margin-left: 4vmin;
}
#degree {
    float: right;
    font-size: 150%;
    position: relative;
    margin-top: 2vmin;
}
#geolocation {
    font-size: 25%;
    display: none;
}
/**************/
.starfield, .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    display: none;
}
/**************/
.sun {
    position: absolute;
    top: -15vmin;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width:100%;
    height:50vw;
    display: none;
    /* IE10+ */ 
    background-image: -ms-radial-gradient(center top, ellipse farthest-corner, rgba(255,234,46,.75) 0%, rgba(255,255,255,0) 70%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center top, ellipse farthest-corner, rgba(255,234,46,.75) 0%, rgba(255,255,255,0) 70%);

    /* Opera */ 
    background-image: -o-radial-gradient(center top, ellipse farthest-corner, rgba(255,234,46,.75) 0%, rgba(255,255,255,0) 70%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center top, 0, center top, 359, color-stop(0, rgba(255,234,46,.75)), color-stop(70, rgba(255,255,255,0)));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, rgba(255,234,46,.75) 0%, rgba(255,255,255,0) 70%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at center top, rgba(255,234,46,.75) 0%, rgba(255,255,255,0) 70%);
}